.theme_style_light {
  --background-default: #ffffff;
  --background-active: #000000;

  --border-default: #e5e5e5;

  --brand: #13591b;

  --text-default: #000000;
  --text-ghost: #25282a;
  --text-default-inverse: #ffffff;
  --text-title: #13591b;
}