.theme_style_dark {
  --background-default: #171c28;
  --background-active: #ffffff;

  --border-default: #e5e5e5;

  --brand: #28b3a5;

  --text-default: #ffffff;
  --text-ghost: #eff1f2;
  --text-default-inverse: #000000;
  --text-title: #28b3a5;
}