.theme_size_default {
  --text-size-s: 14px;
  --text-size-m: 16px;
  --text-size-l: 18px;
  --text-size-xl: 32px;
  --text-size-xxl: 40px;

  --line-height-s: 20px;
  --line-height-m: 20px;
  --line-height-l: 24px;
  --line-height-xl: 36px;
  --line-height-xxl: 44px;

  --border-width: 3px;
  --gap: var(--space-xxl);

  --screen-s: 650px;
}