.my_card {
    padding: 0;
}

.my_card .row > div {
    background-color: var(--theme_color);
}

.myDecsription {
    color: white;
    padding-top: 30px;
    padding-left: 20px !important;
    padding-bottom: 10px;
}

.myPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    /*width: 200px;*/
    /*height: 200px;*/
}

.myName {
    font-size: 24px;
    font-weight: bold;
}

.myProfession {
    font-size: 20px;
    margin-bottom: 20px;
}

.myContact {
    padding: 0;
}

.contactMe {
    margin-top: 15px;
    padding: 0;
}

.contactMe > .row {
    justify-content: space-around;
}

.contactMeTelegram {
    background-color: #2094f6;
}

.contactMeVk {
    background-color: #4a76a8;
    border-color: transparent;
}

.contactMeVk:hover {
    background-color: #3D4F7A;
}


.contactMeInstagram {
    background: linear-gradient(rgba(123, 76, 192, 1) 0%, rgba(205, 47, 132, 1) 50%, rgba(248, 127, 46, 1) 100%);
    background-repeat: no-repeat;
    border-color: transparent;
}

.contactMeInstagram:hover {
    background-color: transparent;
    border-color: white;
}
