.topBar {
    height: 4px;
    background-color: var(--theme_color);
}

.my_message {
    background-color: white;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
}

.my_message_text {
     font-size: calc(14px + (18 - 14) * ((100vw - 576px) / (1980 - 576)));
    /*font-size: 18px;*/
    padding: 15px;
    text-align: center;
    color: #737373;
}

#view_my_projects {
    font-size: 18px;
}

.my_message_buttons {
    padding: 0;
    border-top: 2px solid #f7f7f7;
    padding-top: 15px;
    padding-bottom: 15px;
}

.my_message_buttons > .row > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#view_my_projects{
    background-color: var(--theme_color);
    font-size: 17px;
}

#view_my_github{
    background-color: var(--theme_color);
    font-size: 17px;
}
