.first_screen_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first_screen_content > .container {
    padding: 0;
}

.card_column {
    padding: 0;
}

.message_row {
    margin-top: 8vh;
}

.me_screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 0;
    padding-bottom: 30px;

    /*background-image: url("../../media/bg.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*background-clip: content-box;*/
    /*!*background-position-y: -20vh;*!*/
    /*background-position: top;*/
}
