#booklet_screen {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

#booklet_screen > .row {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#booklet_screen > .row > div {
    padding: 0;
}

.booklet_content_container {
    padding: 0;
}

.booklet_content_container > .row div {
    padding: 0;
}

.bookletIcon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    /*border-radius: 15px;*/
    width: 31vh;
    height: 31vh;
    border-radius: 50%;
    box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.3);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.bookletIconColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.booklet_decription {
    font-size: calc(15px + (20 - 15) * ((100vw - 576px) / (1980 - 576)));
    color: #686868;
}

.project_link:hover {
    text-decoration: none;
}

.project_link:active {
    text-decoration: none;
}

.booklet_content_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.booklet_carousel_column {
    margin-bottom: 45px;
}
