.footer__contact {
  text-decoration: none;
  display: inline-flex;
  flex-direction: column;
  transition: opacity 2s ease-in;
}

.footer__contact:link {
  color: var(--brand);
}

.footer__contact:active {
  color: var(--brand);
}

.footer__contact:visited {
  color: var(--brand);
}

.footer__contact::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--brand);
  opacity: 0;
}

.footer__contact:focus::after,
.footer__contact:hover::after {
  opacity: 1;
}