.description-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@import "description-screen__description";
@import "description-screen__cv";
@import "description-screen__arrow";