.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--space-s);
  background-color: transparent;
  position: absolute; //FIXME
}

@import "header__switch-container";
@import "header__switch-icon";
@import "header__switch-wrapper";